<%= render partial: 'merchants/partials/navbar', locals: { merchant: @merchant }%>

<div class='row'>
  <div class='col' id='discount-details'>
    <h3 class='text-center'>Discount Details</h3>
    <table class='table'>
      <thead>
        <tr>
          <th>Percentage Discount</th>
          <th>Quantity Threshold</th>
        </tr>
      </thead>
        <tr>
          <td><%=@bulk_discount.percentage_discount%>%</td>
          <td><%=@bulk_discount.quantity_threshold%></td>
        </tr>
      <tbody>
      </tbody>
    </table>
    <%= link_to 'Edit Discount', edit_merchant_bulk_discount_path(@merchant, @bulk_discount), class:'btn btn-primary'%>
  </div>
</div>